/* version mobile*/

:root {
	font-size: 10px;
}

* {
	z-index: 999;
}

/* Initialisation du style*/
body {
	font-family: 'Roboto', helvetica, sans-serif;
	z-index: 999;
}

/* Header du site*/

.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: hsla(0, 0%, 100%, 0.9);
	animation: loader 0.01s;
	animation-delay: 1.75s;
	animation-fill-mode: both;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader__itemContainer {
	display: flex;
	width: 8rem;
	justify-content: space-between;
}

.loader__item {
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 1rem;
	animation: jump 1s;
	animation-iteration-count: 1;
}

.loader__item--1 {
	background-color: #d5f8f8;
}

.loader__item--2 {
	background-color: #83a697b7;
	animation-delay: 0.25s;
}

.loader__item--3 {
	background-color: #fdfd96;
	animation-delay: 0.5s;
}

@keyframes loader {
	100% {
		opacity: 0;
		z-index: -10;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(0.5rem);
	}

	75% {
		transform: translateY(-0.5rem);
	}

	100% {
		transform: translateY(0);
	}
}

.picture {
	float: right;
	border-radius: 20%;
	width: 18%;
	shape-outside: circle();
	margin: 1rem;
}

.picture1 {
	margin: auto;
	object-fit: cover;
	border-radius: 4rem;
	width: 85%;
	padding: 1rem 0rem;
}

.picturemodule {
	margin: auto;
	object-fit: cover;
	width: 85%;
	padding: 1rem 0rem;
}

.intro {
	padding: 1rem;
	background-color: #fafafa;
}

.container {
	position: absolute;
	background-color: #fafafa;
	margin-left: -1rem;
}

.introtitle {
	padding: 1rem 0rem;
	text-align: center;
}

.introtext {
	padding: 2rem 2rem;
}

.introtext1 {
	padding: 2rem 2rem;
}

section {
	padding-top: 16rem;
	padding-bottom: 1.5rem;
	background-color: #edfdfd96;
}

.modulesection {
	padding-top: 4rem;
	padding-bottom: 1.5rem;
	background-color: #edfdfd96;
}

.styleprojet {
	width: 100%;
}
/* Footer du site*/
.footer {
	padding: 2rem;
	background-color: #83a697b7;
}

.footertitle {
	color: #fff;
	padding-bottom: 0.5rem;
	font-size: 1.3rem;
	text-align: center;
}

.footerul {
	list-style-type: none;
	color: #fff;
	text-align: center;
}

.footermenu {
	list-style-type: none;
}

.footertext {
	color: #fff;
}

.mail {
	padding-right: 0.5rem;
}

.tel {
	padding-right: 0.5rem;
	padding-left: 0.1rem;
	color: #fff;
}

.insta {
	padding-right: 0.5rem;
	color: #fff;
}
