/* version mobile*/

:root {
	font-size: 10px;
}

* {
	z-index: 999;
}

/* Initialisation du style*/
body {
	font-family: 'Roboto', helvetica, sans-serif;
	z-index: 999;
}

/* Header du site*/

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	opacity: 0;
	background: #9c9c9cc2;
	animation: loader 4s ease-out forwards;
	z-index: 0;
}

.square {
	background: linear-gradient(to top, #83a697b7, #fafafa);
	width: 5rem;
	height: 5rem;
	animation: square 5s 1 linear;
	z-index: 0;
}

@keyframes square {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		z-index: 1;
	}
}

@keyframes loader {
	0% {
		opacity: 1;
		z-index: 9999;
	}
	99% {
		width: 100vw;
		height: 100vh;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}

.picture {
	float: right;
	border-radius: 20%;
	width: 18%;
	shape-outside: circle();
	margin: 1rem;
}

.picture1 {
	margin: auto;
	object-fit: cover;
	border-radius: 4rem;
	width: 85%;
	padding: 1rem 0rem;
}

.intro {
	padding: 1rem;
	background-color: #fafafa;
}

.container {
	position: absolute;
	background-color: #fafafa;
	margin-left: -1rem;
}

.introtitle {
	padding: 1rem 0rem;
	text-align: center;
}

.introtext {
	padding: 2rem 1rem;
}

section {
	padding-top: 16rem;
	padding-bottom: 1.5rem;
	background-color: rgba(245, 222, 179, 0.205);
}

/* Footer du site*/
.footer {
	padding: 2rem;
	background-color: #83a697b7;
}

.footertitle {
	color: #fff;
	padding-bottom: 0.5rem;
	font-size: 1.3rem;
	text-align: center;
}

.footerul {
	list-style-type: none;
	color: #fff;
	padding-left: 20%;
}

.footermenu {
	list-style-type: none;
}

.footertext {
	color: #fff;
}

.mail {
	padding-right: 0.5rem;
}

.tel {
	padding-right: 0.5rem;
	padding-left: 0.1rem;
	color: #fff;
}

.insta {
	padding-right: 0.5rem;
	color: #fff;
}
