/* version tablette*/
.introtitle {
	font-size: 1.8rem;
}

.introtext {
	padding: 2rem 4rem;
	width: 76%;
	font-size: 1.3rem;
}

.introtext1 {
	font-size: 1.3rem;
}

.picture {
	margin: 1rem 4rem 1rem 1rem;
}

.footer {
	font-size: 2rem;
}

.picture1 {
	width: 70%;
	padding-top: 2.5rem;
}

.picturemodule {
	width: 50%;
}

.footerul {
	font-size: 1.3rem;
}

.footertitle {
	font-size: 1.5rem;
}
